.mdl-card-wide {
    margin: 30px auto;
}

.center {
    margin: 5px auto;
}

.header {
    z-index: 0 !important;
}

.main {
    margin-top: -250px;
    height: 94%;
}

.light-title {
    background-color: whitesmoke;
}

.user-icon {
    font-size: 100px;
}

.message-line {
    margin: auto !important;
}

.message-input {
    width: 100% !important;
}