.mdl-card-wide {
    margin: 30px auto;
}

.center {
    margin: 5px auto;
}

.header {
    z-index: 0 !important;
}

.main {
    margin-top: -250px;
    height: 94%;
}

.content {
    height: 100%;
    overflow-y: auto;
}

.message-container {
    min-height: 120px !important;
}

.no-scroll {
    overflow-y: hidden !important;
}

.light-title {
    background-color: whitesmoke;
}

.user-icon {
    font-size: 100px;
}

.message-line {
    margin: auto !important;
}

.message-input {
    width: 98% !important;
    margin: 0px 12px!important;
}

.grid-d {
    display: grid;
    grid-template-rows: 61px 1fr 80px;
}

.full-height {
    height: 100%;
}