version: '3.1'

services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: chat
      POSTGRES_PASSWORD: chat
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data:cached

volumes:
  db-data: